.marquee-container {
    display: flex;
    overflow: hidden;
    background-color: rgb(217, 242, 255);
    color: #4a5568;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    margin-top: 3rem;
}

.marquee {
    flex-shrink: 0;
    animation: scroll 20s linear infinite;
}

.marquee span {
    padding: 0 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-container:hover .marquee {
    animation-play-state: paused;
}